<form method="POST" class="form-group mx-3" action="/file/{{ file.id }}/comment/store">
    <div class="row">
        <textarea type="text" id="textarea" class="form-control col-10" name="message" placeholder="Comment"></textarea>
        <input type="submit" class="btn btn-primary col-2" value="Send">
    </div>
</form>