<form method="POST" class="form-group" action="/file/{{ file.id }}/comment/store">
    <div class="row">
        <textarea type="text" class="form-control col-10" name="content" placeholder="Comment"></textarea>

        <input type="submit" class="btn btn-primary col-2" value="Comment">
    </div>
</form>