{% extends 'base.html.twig' %}

{% block title %}Last Files{% endblock %}

{% block body %}
    <div class="container">
        {% for file in files %}
            <div class="border mt-2" style="height: 43px;">
                <div class="d-flex">
                    <div class="p-2">
                        <a href="/file/{{ file.id }}">{{ file.originalName }}</a>
                        <span class="font-italic text-secondary">{{ file.getConvertedSize }}</span>
                    </div>

                    <div class="ml-auto p-2">
                        {{ file.uploadedAt.format('d/m/Y H:i:s') }}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
