{% extends 'base.html.twig' %}

{% block title %}File info{% endblock %}

{% block body %}
    <div class="my-4 text-center">
        <h3>{{ file.originalName }}</h3>
        <h5>{{ size }}</h5>
        <a href="/file/{{ file.id }}/download">Download</a>
    </div>

    <div class="mx-auto my-4 row">
        <div class="col-md-1"></div>
        {% include 'file/file_info.html.twig' %}
    </div>

    <div class="row">
        <div class="col-12 col-md-10 mx-auto">
            {% include 'comment/create-form.html.twig' %}
            {% include 'comment/list.html.twig' %}
        </div>
    </div>
{% endblock %}
